{% extends 'base.html' %}


{% block header %}

<div class="row">
	<div class="col-lg-12">

		<!-- Data Header -->
		<h4 class="text-muted text-left">Materiais</h4>	
		
	</div>
</div>

{% endblock	%}


{% block main %}

<div class="row">
	<div class="col-lg-12">

		<!-- Data Main -->

		{% for estoque in estoques %}
		
		<div class='col-sm-4'><a href="#">{{ estoque.nome }}</a></div>
		<div class='col-sm-4'><a href="#"><a href="#">{{ estoque.categoria.nome }}</a></div>
		<div class='col-sm-4'><a href="#"><a href="#">{{ estoque.local.nome }}</a></div>

		{% endfor %}
	
	</div>
</div>

{% endblock %}


{% block footer %}

<div class="row">
	<div class="col-lg-12">

		<!-- Data Footer -->
	
	</div>
</div>

{% endblock %}