{% extends 'base.html' %}


{% block header %}

<div class="row">
	<div class="col-lg-12">

		<!-- Data Header -->
		
	</div>
</div>

{% endblock	%}


{% block main %}

<div class="row">
	<div class="col-lg-12">

		<!-- Data Main -->
		
		<div id="main" class="container-fluid">
			<!-- /top -->
			<div id="top" class="row">
			    <div class="col-md-3">
			        <h3 class='text-muted'>Materiais</h3>
			    </div>
			 
			    <div class="col-md-6">
			        <div class="input-group h2">
			            <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
			            <span class="input-group-btn">
			                <button class="btn btn-primary" type="submit">
			                    <span class="glyphicon glyphicon-search"></span>
			                </button>
			            </span>
			        </div>
			    </div>
			 
			    <div class="col-md-3">
			        <a href="#" class="btn btn-primary pull-right h2">Novo Item</a>
			    </div>
			</div>
			<!-- /#top -->
			
			<!-- /list -->
			<br>
			<div id="list" class="row">		    
				<div class="list-group">
					 	<div class="col-lg-1 text-center"><strong>ID</strong></div>
					  	<div class="col-lg-4 text-left"><strong>NOME</strong></div>
					  	<div class="col-lg-2 text-center"><strong>CATEGORIA</strong></div>
					  	<div class="col-lg-1 text-center"><strong>UNIDADES</strong></div> 
					    <div class="col-lg-1 text-center"><strong>REPOSIÇÃO</strong></div> 
					    <div class="col-lg-1 text-center"><strong>CUSTO</strong></div>
					    <div class="col-lg-2 text-center"><strong>AÇÕES</strong></div>
					    </div>
					    <br>
				</div>
			</div>

			{% for estoque in estoques %}
			<div id="list" class="row">		    
				<div class="list-group">
					 	<div class="col-lg-1 text-right">
					  		{{ estoque.id }}
					  	</div>
					  	<div class="col-lg-4 text-left">
					  		{{ estoque.nome }}
					  	</div>
					  	<div class="col-lg-2 text-left">
					  		{{ estoque.categoria.nome }}
					  	</div>
					  	{% if estoque.quantidade <= 0 %}
						  	<div class="col-lg-1 text-center bg-danger">
					    {% else %}
					    	{% if estoque.quantidade <= estoque.reposicao %}
					    		<div class="col-lg-1 text-center bg-warning">
					    	{% else %}
					    	<div class="col-lg-1 text-center">
					    	{% endif %}
					    {% endif %}
					    	{{ estoque.quantidade }}
						    </div> 	
					    <div class="col-lg-1 text-center">
					  		{{ estoque.reposicao }}
					    </div> 
					    <div class="col-lg-1 text-right">
					  		{{ estoque.custo }}
					  	</div>
					    <div class="col-lg-2">
					    	<div class="text-center">
					  		<a class="btn btn-success btn-xs" href="#">Visualizar</a>
				            <a class="btn btn-warning btn-xs" href="#">Editar</a>
				            <a class="btn btn-danger btn-xs "  href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
				            </div>
					    </div>
					    <br>
				</div>
			</div>
<!--
			{% if forloop.last %}
				{% if forloop.counter|divisibleby:6 %}{% else %}<div>&nbsp;</div><br>{% endif %}
			{% endif %}
			{% if forloop.last %}
				{% if forloop.counter|divisibleby:5 %}{% else %}<div>&nbsp;</div><br>{% endif %}
			{% endif %}
			{% if forloop.last %}
				{% if forloop.counter|divisibleby:4 %}{% else %}<div>&nbsp;</div><br>{% endif %}
			{% endif %}
			{% if forloop.last %}
				{% if forloop.counter|divisibleby:3 %}{% else %}<div>&nbsp;</div><br>{% endif %}
			{% endif %}
			{% if forloop.last %}
				{% if forloop.counter|divisibleby:2 %}{% else %}<div>&nbsp;</div><br>{% endif %}
			{% endif %}
			{% if forloop.last %}
				{% if forloop.counter|divisibleby:1 %}{% else %}<div>&nbsp;</div><br><br>{% endif %}
			{% endif %}
-->
			{% endfor %}


			<div id="bottom" class="row">
			    <div class="col-lg-12 text-center">
			         
			        <ul class="pagination">
			        	{% if estoques.has_previous %}
				            <li>
				            	<a href="?page={{ estoques.previous_page_number }}">&lt; Anterior</a>
				            </li>
				        {% else %}
				        	<li>
				            	<a href="#">&lt; Anterior</a>
				            </li>
			            {% endif %}

			            <li>
			            	<a>{{ estoques.number }} / {{ estoques.paginator.num_pages }}</a>
			            </li>

			            {% if estoques.has_next %}
				            <li>
				            	<a href="?page={{ estoques.next_page_number }}" rel="next">Próximo &gt;</a>
				            </li>
				        {% else %}
				        	<li>
				            	<a class='disable' href="#">&lt; Próximo</a>
				            </li>
			            {% endif %}
			        </ul>
			 
			    </div>
			</div> 

	</div>  <!-- /#main -->
			
</div>

{% endblock %}


{% block footer %}

<div class="row">
	<div class="col-lg-12">

		<!-- Data Footer -->
	
	</div>
</div>

{% endblock %}